html body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to right, #8c1e9d, #3a033b);
}

.header {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0;
  text-shadow: rgba(0, 0, 0, 0.5) 8px 5px 5px;
  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px black;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0;
}

.menu-items {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  outline: 1px solid black;
  border-radius: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 5px 5px;
}

.menu-items > * {
  padding: 0.5rem 0;
  border-right: 1px solid black;
  width: 100%;
  text-align: center;
}

.menu-items > *:last-child{
    border-right: none;
    border-radius: 0 7px 7px 0;
}

.menu-items > *:first-child{
    border-radius: 7px 0 0 7px;
}

.menu-items > *:hover {
  background-color: #8c1e9d62;
}
.menu-items a {
  text-decoration: none;
  color: black;
}