.login-container {
    background-color: #2b2828;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #f5f3f3;
    font-weight: normal;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-color: #f45d48;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(244, 93, 72, 0.2);
}

.login-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: white;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #ec5fe9;
}

.login-container p {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
}

.login-container p a {
    color: #f505bd;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
}

.login-container p a:hover {
    color: #f307a4;
}


.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(135deg, rgba(244, 93, 72, 0.1), rgba(238, 168, 73, 0.1));
    border-radius: 12px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 40px; 
}

.password-container #toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
}

.password-container #eye-icon {
    width: 20px;
    height: 30px;
    color: #888;
    transition: color 0.3s ease;
}

.password-container #toggle-password:hover #eye-icon {
    color: #333;
}

